form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 500px;
    margin: auto;
}

form label {
    flex: 1;
    min-width: 100px;
    text-align: right;
    padding-right: 10px;
}

form input {
    flex: 2;
    width: 100%;
    box-sizing: border-box;
}

form button {
    flex: 1;
    width: 100%;
    margin: 10px 0;
}
table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 5px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
h2, h4 {
    text-align: center;
}